<%	
	var hostIndex = location.href.indexOf( location.host ) + location.host.length;
	var contextPath = location.href.substring( hostIndex, location.href.indexOf('/', hostIndex + 1) );
%>	
<tr>
	<td><%=no%></td>
	<td><%=name%></td>
	<td><%=count%></td>
	<td><%=desc%></td>
	<% if(count != 0) { %>
		<td></td>
	<% } else { %>
		<td id="delete-td">
			<a href="<%=contextPath%>/<%=blogId%>/admin/category/delete/<%=no%>">
			<img src="<%=contextPath%>/assets/images/delete.jpg">
			</a>
		</td>
	<% } %>
</tr>